:root {
    --lilac: #c69feb;
    --darkpurple: rgb(42, 1, 80);
    --arialnarr: 'Arial Narrow'
}


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

header { 
    background-color: rgb(65, 65, 65);
    border: 30px;
    font-family: var(--arialnarr);
    
}

header h1 {
    display: inline-block;
    font-size: 40px;
    padding: 10px 10px 10px 45px;
    margin: 10px 10px 10px 0;
    background-color: var(--lilac);
    color: var(--darkpurple);
}

header nav {
    padding-top: 25px;
    margin-right: 25px;
    float: right;
    font-size: 30px;

}
    
header nav ul {
    list-style-type: none;
        
}
    
header nav ul li {
    display: inline-block;
    margin-left: 25px;
        
}

header a {
    color: var(--lilac);
}

.container {
    position: relative
}

.background-picture {
    height: 200px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/pexels-anni-roenkae-3109807.jpg");
    background-size: cover;
    background-position: center;
}

#bottom-right { /*referenced w3schools to position text within an image*/
    position: absolute;
    bottom: 8px;
    right: 0px;
    padding: 8px 45px 8px 8px;
    font-family: 'Lucida Handwriting';
    color: var(--darkpurple);
    background-color: var(--lilac);  
}

.body-grid {
    font-family: var(--arialnarr);
    width: 100%;
    margin-bottom: 50px;
}

.subtitle {
    float: left;
    width: 30%;
    margin-right: 20px;
    font-size: 50px;
    text-align: end;
    padding-right: 20px;
    color: var(--darkpurple);
    background-color: var(--lilac);
}

.paragraph {
    display: inline;
    font-size: 30px;
    width: auto;
}

.work {
    display: flex;
    flex-wrap: wrap;
}


.proj1, .proj2, .proj3 {
    position: relative;
    display: inline;
    margin-right: 10px;
}

.proj1 img {
    display: flex;
    width: 1010px;
    height: 400px;
    margin: 0 0 10px 0;
}

.proj2 img, .proj3 img {
    display: flex;
    width: 500px;
    height: 200px;
    
}

.bottom-left {
    position: absolute;
    bottom: 20px;
    left: 10px;
    padding: 8px;
    background-color: white;
    text-align: left;
}



.contacts {
    list-style: none;
    display: flex;
    padding-top: 10px;
}

.contacts li {
    margin-left: 10px;
    margin-right: 20px;
    font-size: 35px;
    text-decoration: underline;
    
}

.contacts a {
    color: var(--darkpurple)
}

a:hover {
    color: #f130cef7;
}








